body {
  background: darkgrey;
  font-family: Arial;
}

.table {
  clear: both;
}

.add {
  background-color: forestgreen;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  font-size: 14px;
}

.remove {
  background-color: #8b1430;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 40px;
  font-size: 14px;
}

.undo, .redo, .save, .reset, .cancel {
  background-color: #75778b;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.row input {
  font-size: 20px;
}

.line-chart, .bar-chart {
  width: 500px;
  background-color: #ffffff;
  margin-bottom: 20px;
}



